<ul class="list-group">
    {{#each todos}}
        <li class="list-group-item">{{title}}</li>
    {{/each}}
</ul>
<a type="button" href="/todo/new" class="btn btn-primary btn-primary--margin">New Todo</a>