<ul class="list-group">
    {{#each todos}}
        <a href="/todo/{{id}}" class="list-group-item">{{title}}</a>
    {{/each}}
</ul>
<a type="button" href="/todo/new" class="btn btn-primary btn-primary--margin">New Todo</a>